<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/Chart.bundle.js"></script>
    <script type="text/javascript" src="/js/datatable.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <link rel="stylesheet" href="/css/datatable.css">

</head>
<body>


<h5>Media Advisors GA accounts report</h5>
<h6>This report enumerates all MA GA accounts for which reporting service account has been set up. </h6>
<br>

<br>

<!--manual-->
<!--https://toni-heittola.github.io/js-datatable/-->

<table class="table datatable"
       data-rank-mode="normal"
       data-pagination="true"
       data-show-columns="true"
       data-show-toggle="true"
       data-striped="false"
       data-show-chart="false">
    <thead>
    <tr>
        <th data-rank="true">Index</th>
        <th data-align="center" data-tag="true" data-field="name" data-sortable="true">account name</th>
        <th data-align="center" data-field="account-number" data-sortable="true">account #</th>
        <th data-align="center" data-tag="true" data-field="ghAccount" data-sortable="true">growth house account</th>
        <th data-align="center" data-field="tracking id" data-sortable="true">tracking id</th>
        <th data-align="center" data-field="property" data-sortable="true">property name</th>
        <th data-align="center" data-field="website" data-sortable="true">website</th>
        <th class="sep-left-cell" data-align="center" data-field="extracted codes" data-value-type="list">host extracted
            codes
        </th>
        <th data-align="center" data-tag="true" data-field="sending #" data-value-type="int">Tracker invoked #</th>
        <th class="sep-left-cell" data-align="left" data-field="profiles" data-value-type="list">analytics profiles</th>
    </tr>
    </thead>

    <tr th:each="trackingAccount : ${trackingEntities}">
        <td>idx</td>
        <td th:text="${trackingAccount.getAccountName()}">name</td>
        <td th:text="${trackingAccount.getAccountNumber()}">number</td>
        <td th:text="${trackingAccount.getGrowthHouse()}">gh</td>
        <td th:text="${trackingAccount.getTrackingId()}">tracking id</td>
        <td th:text="${trackingAccount.getPropertyName()}">property name</td>
        <td><a href="url" th:href="${trackingAccount.getWebsite()}" th:text="${trackingAccount.getWebsite()}">link </a>
        </td>
        <td th:text="${trackingAccount.getWebsiteActualCodes()}">codes</td>
        <td th:text="${trackingAccount.getSendingGAcodes() > 0}?${trackingAccount.getSendingGAcodes()}:''">sending#</td>
        <td th:text="${trackingAccount.getProfiles()}">profiles</td>
    </tr>
</table>


<br>


</body>
</html>